<div id="page-wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h1>
      </div>
    </div>
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Welcome <%= user.local.email %></h1>
      </br>
      </br>
      </br>
      <h1>Complaint Registration</h1>
      </br>

      <h2>An open source web platform for all IoT based data analysis.</h2>
      </br>
      </br>
    </div>
  </div>
</div>
